asgiref
cffi
charset-normalizer
click
colorama
cryptography
Django
django-3-jet
django-adminlte-3
django-cors-headers
django-environ
django-jazzmin
Django-Verify-Email
joblib
lxml
nltk
numpy
pdfminer.six
pdfplumber
pillow
pycparser
PyJWT
pypdfium2
python-docs
python-docx
python-dotenv
regex
scikit-learn
scipy
six
sqlparse
threadpoolctl
tqdm
typing_extensions
tzdata
